### cpp.snippets
###   - provides snippets for cpp files
###


# Unary functor definition (work related)
snippet approved
	<body><em><u><span style="mso-ansi-language:EN;font-style:normal" lang="EN">Verified
	by Niklas Thörne, `system("date +%Y-%m-%d")`<span class="GramE">:</span></span></u></em><span style="mso-ansi-language:EN" lang="EN"><br>
	Verification: OK<br>
	Version of verified object: ${2} (${1})<br>
	Verified by: Code review</span></body>
