snippet module
	module `Filename()` where
	
	${1}
snippet import
	import ${1} exposing (${2})
	${3}
snippet let
	let ${1} =
		${2}
	in
		${3}
snippet if
	if (${1})
		then (${2})
		else (${3})
snippet type
	type alias ${1} = {
		${2}: ${3}
	}
snippet case
	case ${1} of
		${2} -> ${3}
