### mkd.snippets
###   - provides snippets for markdown files
###

snippet saltodo
	\`\`\`plantuml
	@startsalt
	{
	[ ] ${1}
	}
	@endsalt
	\`\`\`

snippet uml
	\`\`\`plantuml
	${1}
	\`\`\`

snippet salt
	\`\`\`plantuml
	@startsalt
	{
	${1}
	}
	@endsalt
	\`\`\`

snippet saltree
	\`\`\`plantuml
	@startsalt
	{
	{T
	+${2}
	}
	}
	@endsalt
	\`\`\`

snippet todo
	**TODO:** ${1}

snippet c
	\`\`\`
	${1}
	\`\`\`

snippet i
	*${1}* ${2}
snippet b
	**${1}** ${2}

