[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/tednaleid/bufexplorer.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/histwin"]
	path = bundle/histwin
	url = https://github.com/chrisbra/histwin.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/nthorne/snipmate.vim.git
[submodule "bundle/doxygentoolkit"]
	path = bundle/doxygentoolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/drawit"]
	path = bundle/drawit
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/showmarks"]
	path = bundle/showmarks
	url = https://github.com/nthorne/ShowMarks.git
[submodule "bundle/pybreak"]
	path = bundle/pybreak
	url = https://github.com/nthorne/vim-pybreak.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/superjudge/tasklist-pathogen.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
